
<div class="desktop-nav-container">
	<ul class="desktop-nav">
		<li class="desk-nav-item left"><a class="logo" href="index.html">
			<img class="nav-logo" src="https://s3-us-west-2.amazonaws.com/westside-animal/dental_logo.png">
<!--			Veterinary Dental Clinic of Durham-->
			</a></li>
		<li class="desk-nav-item"><a class="nav2" href="about.html">About</a></li>
		<li class="desk-nav-item"><a class="nav3 client" href="services.html">Services</a></li>
	<li class="desk-nav-item"><a class="nav4 client" href="FAQs.html">FAQ</a></li>
		<li class="desk-nav-item"><a class="nav5" href="contact.html">Contact</a></li>
		<li class="desk-nav-item"><a class="nav8 vet-portal" href="veterinary-referral.html">Veterinary Referral</a></li>
<!--		<li class="desk-nav-item"><a class="nav7 referral" href="referral.html">Online Referral</a></li>-->
<!--		<li class="desk-nav-item"><a class="nav6 referral" href="www.dropbox.com">Login</a></li>-->
	</ul>
</div>


<ul class="navigation">
  	<li class="nav-item"><a class="nav6" href="index.html">Home</a></li>
		<li class="nav-item"><a class="nav3" href="about.html">About</a></li>
		<li class="nav-item"><a class="nav3" href="FAQs.html">FAQ</a></li>
		<li class="nav-item"><a class="nav3" href="services.html">Services</a></li>
		<li class="nav-item"><a class="nav4" href="contact.html">Contact</a></li>
		<li class="nav-item"><a class="nav4" href="veterinary-referral.html">Veterinary Referral</a></li>
		<ul class="footer-social-links">
	<!--		<li><a class ="icon" href="">c</a></li>-->
			 <li><a href="https://aaha.org"><img class="aaha" src="http://www.cassvillevet.com/images/aaha-240px.png"></a></li>
		</ul>
</ul>



<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>
