 

<div class="desktop-nav-container">
	<ul class="desktop-nav">
		<li class="desk-nav-item left"><a class="logo" href="index.html">
			<img class="nav-logo" src="https://s3-us-west-2.amazonaws.com/westside-animal/westside-logo.png">
<!--			Veterinary Dental Clinic of Durham-->
			</a></li>
		<li class="desk-nav-item"><a class="nav2" href="about.html">About</a></li>
		<li class="desk-nav-item"><a class="nav3 client" href="services.html">Services</a></li>	
		<li class="desk-nav-item"><a class="nav4 client" href="FAQs.html">FAQs</a></li>
		<li class="desk-nav-item"><a class="nav5" href="contact.html">Contact</a></li>
		<li class="desk-nav-item"><a class="nav8 vet-portal" href="veterinary-referral.html">Veterinary Referral</a></li>
<!--		<li class="desk-nav-item"><a class="nav7 referral" href="referral.html">Online Referral</a></li>-->
<!--		<li class="desk-nav-item"><a class="nav6 referral" href="www.dropbox.com">Login</a></li>-->
	</ul>
</div>



<ul class="navigation">
  	<li class="nav-item"><a class="nav6" href="index.html">Home</a></li>
<!--		<li class="nav-item"><a class="nav2" href="our-vets.html">Veterinarians</a></li>-->
		<li class="nav-item"><a class="nav3" href="services.html">Services</a></li>	
<!--		<li class="nav-item"><a href="#">Pet Show</a></li>-->
		<li class="nav-item"><a class="nav4" href="contact.html">Contact</a></li>
<!--	  <li class="nav-item"><a class="nav5" href="referrals.html">Dentistry Referrals</a></li>-->
		<li class="nav-item"><a class="nav7 referral" href="referral.html">Online Referral</a></li>
		<li class="nav-item"><a class="nav6 referral" href="www.dropbox.com">Login</a></li>
	 <li class="nav-item"><a class="nav8" href="veterinary-referral.html">Veterinary Referral</a></li>
	
</ul>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>
