<!--<div class="shiv"></div>-->
<div class="referral-container">
	<div class="referral-content-wrapper">
	<h1 class="vet-referral-h1">Veterinary Referral Portal</h1>
		<p class="referral-p">Dr Hoover is glad to consult on any dental or oral disease cases.  He can be contacted by phone or email.  Dental radiographs can be emailed to his personal email at <a href="mailto:donhoov@gmail.com">donhoov@gmail.com</a>.  If you have an urgent patient need please call or text him at 919-555-5555.</p>
	<div class="vet-content">
		<div class="refer-row">
			<div class="table-head">Make Online Referral:</div>
			<div class="table-content"><a href="referral.html">Referral Form</a></div>
		</div>
		<div class="refer-row">
			<div class="table-head">View Patient Records:</div>
			<div class="table-content"><a target="_blank" href="https://www.dropbox.com">Record Portal</a></div>
		</div>
		<div class="refer-row">
			<div class="table-head">Pre-Anesthesia Screening:</div>
			<p class="table-content">For all patients a recent veterinary examination, full chemistry panel, complete blood count and urinalysis are needed. For cats older then 8 years of age, a thyroid level is also needed. In addition, patients at risk for hypertension should have blood pressure measurements obtained. If patients have had a history of unexplained weight loss, then chest radiographs and abdominal ultrasound may be recommended prior to anesthesia.</p>
		</div>
	</div>
	</div>
</div>
			