.philosophy-wrap {
//	min-height: 100px;
//	padding: 2em;


}

.shiv {
	height: 112px;
	position: relative;
}

.philosophy-container {
	padding-top: 2em;
	/*max-width: 1100px;*/
	min-height: 74vh;
	color: white;
	background: url(https://images.unsplash.com/photo-1422363037975-f6a4c2c924fc?q=80&fm=jpg&s=5cf3a74e5cf22d1581f15457d4e10430) no-repeat center center fixed;
	background-size: cover;
	background-position: 0 0px;
	position: relative;
	display:flex;
	flex-direction: column;
	justify-content: center;
	
	
	p {margin-bottom: 0;}

}


.philosophy-text {
	/*width: 50rem;*/
	padding: 0 1em;
	max-width: 60rem;
	margin: -50px auto 0;
	clear: right;
	text-align: left;
	position: relative;
	z-index: 1000;
	font-size: 1.2em;
}

@media screen and (max-width: 735px) {
	
	.philosophy-container {
		padding: 5em 0 2em;
	}
	
	.philosophy-text {
		margin-top: 0;
	}
}



