.faqs-container {
	background: url(https://images.unsplash.com/photo-1425678013935-cafcfb4272c7?q=80&fm=jpg&s=b20160ffb499cb1c9b7b6c0886e9019a) no-repeat center center fixed;
	background-size: cover;
	min-height: 80vh;
	position: relative;
}

.faqs-content-wrapper {
	position: relative;
	z-index: 1000;
	padding: 8em 0 5em;
	
	.contact-p {
		    color: white;
				z-index: 10;
	}
}



.accordion {
		max-width: 80%;
    margin: 4em auto 0;
	 background-color: transparent;

}

.accordion-header {
	background-color: #183740;
  color: white;
}

.accordion-header:hover  {
	background-color: $secondary-color;
	color: white;
}

.accordion-item.active .accordion-header {
	background-color: $tertiary-color;
}

.accordion-content {
	background-color: rgba(0,0,0,.6);
	color: white;
}