#gform {
	max-width: 50rem;
	margin: 0 auto;
	padding: 2em 0;

	
	
	textarea {
    width: 100%;
		margin: 0 auto;
  }
  .content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
  }
  .is-center {
    text-align: center;
  }
  .button-success {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65); /* this is a green */
  }
  .button-xlarge {
    font-size: 125%;
  }
  button {
//    float: right;
  }
  input[type="text"], input[type="email"] {
    width: 100%;
  }


	label {
		text-align: left;
		padding: 0;
	}
	
	.sex-div {
		display: inline-block;
//		margin: 0 1em;
		min-width: 3rem;
	}

}