.referral-container {
  width: 100%;
  min-height: 100vh;
  background-color: #F8F5E6;
	position: relative;
	z-index: 10;
  font-size: 1.2em;
	min-height: 700px;

}

.vet-content {
//	padding-top: 1em;
  display: table; 
	max-width: 1050px;
	margin: 0 auto;
	padding: 1em 1em 0;
}

.refer-row {
  display: table-row;
  line-height: 1.7em;
}

.log-in {
  display: table-cell;
  
}

.vet-referral-h1 {
	text-align: center;
	padding-top: .5em;
}


.table-head {
  display: table-cell;
  min-width: 15em;
	text-align: left;
	font-weight: 700;
}

.table-content {
  display: table-cell;
  max-width: 40em;
	text-align: left;
}

.thank-you-container {
	min-height: 700px;
}

.thank-you, .thank-you2 {
	max-width: 40em;
	padding: 3em 1em 0;
	margin: 0 auto;
	font-size:1.2em;
}

.thank-you2 {
	padding-top: .25em;
}


@media screen and (max-width: 750px) {
	
	.referral-container {
		padding-top: 2em;
	}
	
	.vet-content, .table-head, .table-content {
		display: block;
	}
	
	
	.thank-you {
		padding-top: 8em;
	
	}
	



}

